/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-color: #eeeeee;
  color: rgb(3, 24, 58);
}

.card .learn-more.activator {
    cursor: pointer;
}

nav {
  background-color: #eeeeee;
}

nav ul a,
nav .brand-logo {
  color: rgb(3, 24, 58);
  text-transform: uppercase;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

#index-banner:before {
    background: url(/background1.jpg) no-repeat center center fixed;
    display: block; content:""; position: absolute; z-index:-1;
    top:0; left: 0; right: 0; height: 100%;
    opacity:.5;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (min-width: 1881px) {
    #index-banner:before {
        background-size: cover;
    }
}

@media only screen and (max-width : 1880px) and (min-width : 1380px) {
    #index-banner:before {
        max-height: 580px;
    }
}

@media only screen and (max-width : 1379px) and (min-width : 600px) {
    #index-banner:before {
        max-height: 700px;
    }
}

@media only screen and (max-width : 600px) and (min-width : 375) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 374) {
    #index-banner:before {
        max-height: 900px;
    }
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#index-banner h1 {
    font-weight: 300;
    font-size: 65px;
    letter-spacing: 1px;
    line-height:65px;
    text-transform: uppercase;
    color: rgb(3, 24, 58);
}

#index-banner {
  font-size: 17px;
}

#index-banner .btn-large {
    background-color: rgb(3, 24, 58);
}

#index-banner .card-panel {
  background-color: rgba(138, 149, 167, .7);
}

#index-banner .material-icons {
    font-size: 100px;
    padding-top: 50px;
}


#contact-section,
#contact-section .card {
  background-color: rgb(3, 24, 58);
}

#contact-section h3,
#contact-section h4,
#contact-section input{
  color: #eeeeee;
}

#contact-section .btn {
  background-color: #eeeeee;
  color: rgb(3, 24, 58);
}
