<footer class="page-footer grey lighten-2">
    <div class="container">
      <div class="row">
        <!-- <div class="col l6 s12"> -->
          <!-- <h5>Company Bio</h5>
          <p>We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p> -->


        <!-- </div> -->
        <!-- <div class="col l3 s12"> -->
          <!-- <h5>Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        <!-- </div> -->
        <div class="col s12">
        <p>
          Navigate: <a href="#about">About</a> | <a href="/#portfolio">  Portfolio</a> | <a href="/#contact"> Contact</a>
          </p>
          <p>
            About: <a href="/thomas.html">Thomas Cothran</a>  |  <a href="/gary.html">Gary Ditsch</a>
          </p>
            <!-- <ul>
              <li><a href="#!"> >> Team</a></li>
              <li><a href="#about"> >> About</a></li>
              <li><a href="#portfolio"> >> Portfolio</a></li>
              <li><a href="#contact"> >> Contact</a></li>
            </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="brown-text text-lighten-3" href="http://www.ventre.tech">Ventre Tech</a> 2016  |  <a href="http://www.visitlex.com/" class="brown-text text-lighten-3">Lexington, Kentucky</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>