
  <div class="container">
    <div class="section">
    <div id="portfolio">
    <div class="row">
        <div class="col s12">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Portfolio</h4>
        </div>
    </div>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/Signal_Logo.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                  Inter-Hospital Transfers
                  <i class="material-icons right">
                      more_vert
                  </i></span>
              <p>A platform that facilitates patient transfers between hospitals.</p>
              <p><span class="learn-more activator blue-text">Learn more ...</span></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                  Inter-Hospital Transfers
                  <i class="material-icons right">
                      close</i>
                  </span>
              <p>Inter-Hospital transfers is a platform that facilitates
                  the transfer of patients between hospitals. The application
                  was built on contract for Signal Health Partners, a value
                  based care organization based in New York City.
              </p>
              <p>
                  The application was built in Meteor, with React on the front
                  end. Materialize CSS is used for the CSS framework. Flow
                  Types (a more ML/Haskellish TypeScript) is used alongside
                  Ramda.js to get the benefits of a relatively pure functional
                  style.
              </p>
              <p><a href="http://www.signalhealthpartners.com/">
                  Visit this site
              </a></p>
            </div>
          </div>
        </div>

      <!--   Icon Section   -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/pycoachlogo.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">PyCoach<i class="material-icons right">more_vert</i></span>
              <p>Technology:  Django, AngularJS, Django Rest Framework, AWS,
                  Bootstrap, Ramda, Postgres</p>
              <p><span class="learn-more activator blue-text">Learn more ...</span></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">PyCoach<i class="material-icons right">close</i></span>
              <p>Athletic teams have traditionally struggled with injury rates
                  and illness during competition periods. Coaches are often
                  made aware of health problems late, if ever at all. In most
                  cases, these problems can be avoided if they are caught and
                  addressed early on.
              </p>
              <p>
                  PyCoach is a software service that allows coaches to easily
                  monitor the wellness of their athletes. Each athlete fills in
                  a wellness questionnaire every morning, which pyCoach then
                  reports to the coach using intuitive and attractive
                  dashboards. This enables the coach to have an immediate
                  window into how the players are feeling each day. In turn,
                  the coach can then start the conversation with any players
                  showing signs of illness, injury, or overtraining.
              </p>
              <p><a href="http://www.pycoach.com/">Visit this site</a></p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/ddesk.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                  Decision Desk
                  <i class="material-icons right">
                      more_vert
                  </i></span>
              <p>
                  Revamping collegiate applications front end with complex
                  conditional logic
              </p>
              <p><span class="learn-more activator blue-text">Learn more ...</span></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                  Decision Desk
                  <i class="material-icons right">
                      close</i>
                  </span>
              <p>
                  Contracted by Decision Desk, a company that provides a
                  platform for collegiate and university applications, to
                  work on their form generator. Colleges want to be able to
                  create complex, multipage forms with condiditional logic
                  between fields and pages.
              </p>
              <p>
                  Created a specification that allowed conditional logic to
                  show, hide, or change the options in fields or other panels.
                  The specification allows for an indefinite number of logical
                  conditions, including nested conditions. Then modified
                  UI for form creation to use the specification.
              </p>
              <p><a href="http://www.decisiondesk.com/">
                  Visit this site
              </a></p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/Hospital_pointer.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                  Good Medicine
                  <i class="material-icons right">more_vert</i></span>
              <p>
                  A platform for physicians to find medium term contract work
                  with hospitals.
              </p>
              <p><span class="learn-more activator blue-text">Learn more ...</span></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                  Good Medicine
                  <i class="material-icons right">close</i>
              </span>
              <p>
                  A platform that allows hospitals to post medium term jobs
                  and find physicans that match their criteria. Physicians
                  can likewise register to search hospital postings and
                  sign up for notifications.
              </p>
              <p><a href="http://locums.signalhealthpartners.com">Visit this site</a></p>
            </div>
          </div>
        </div>

      </div> <!-- End Second Row -->
      <!-- End of Icon Section -->
    </div>
    </div>
  </div>
